<nav class="nav">
  <ul class="navbar">
    <li class="nav-item">
      <a class="nav-link" *ngIf="isLoggedIn()" (click)="logout()">Logout</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" *ngIf="isLoggedIn() && loggedUser && loggedUser.userType === 'Host'" aria-pressed="true" routerLink="/createAccommodation">Create accommodation</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" *ngIf="isLoggedIn() && loggedUser" aria-pressed="true" routerLink="/My-Profile">Profile</a>
      <a class="nav-link" *ngIf="isLoggedIn()" aria-pressed="true" routerLink="/Main-Page">Main Page</a>
    </li>
  </ul>
</nav>
