ul {
  list-style-type: none;
  margin: 0px;
  margin-left: 180px;
  padding: 0;
  overflow: hidden;
  background-color: #556A9A;
  display: flex;
  padding: 10px;
  border-radius: 20px;
}
ul li{
  margin-right: 30px;
}

ul li a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 17px;
  text-decoration: none;
  font-size: 17px;
}

ul li a:hover {
  background-color: #F3CFC6;
  color: black;
  cursor: pointer;
}
nav{
  overflow: hidden;
  background-color: #556A9A;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
nav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 17px;
  text-decoration: none;
  font-size: 17px;
}
nav a:hover {
  background-color: #F3CFC6;
  color: black;
}
