<app-header></app-header>
<div  class="search-container">
  <label for="location">Location:</label>
  <input type="text" id="location" [(ngModel)]="locationFilter">

  <label for="minGuests">Guests:</label>
  <input type="number" id="minGuests" [(ngModel)]="minGuestsFilter">

  <button type="button" class="btn btn-danger" (click)="searchAccommodations()">Search</button>
</div>

<div *ngFor="let accommodation of accommodations" class="accommodation-card">
  <h2 class="accommodation-title">{{ accommodation?.name }}</h2>
  <p class="accommodation-description"> {{ accommodation?.description }}</p>
  <div class="accommodation-details">
    <div class="detail">
      <!--<span class="detail-label">Image:</span>
      <span class="detail-value">{{ accommodation?.images }}</span>
    </div>-->
    <div class="detail">
      <span class="detail-label">Benefits:</span>
      <span class="detail-value"> {{ accommodation?.benefits }}</span>
    </div>
    <div class="detail">
      <span class="detail-label">Guests:</span>
      <span class="detail-value"> {{ accommodation?.minGuest }} - {{ accommodation?.maxGuest }}</span>
    </div>
    <div class="detail">
      <span class="detail-label">Location:</span>
      <span class="detail-value">
        {{ accommodation?.location?.country }},
        {{ accommodation?.location?.city }},
        {{ accommodation?.location?.street }}
        {{ accommodation?.location?.number }}
      </span>
    </div>
  </div>
</div>
  <div>
    <button type="submit"class="btn btn-danger">Check availability</button>
  </div>
</div>
