/*.change-password-card {
  width: 600px;
  height: 450px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mb-3 {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.card-title-main {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: blue;
  font-size: 40px;
}

.current-title {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
}

.new-title {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
}

.btn-primary {
  font-size: 20px;
  margin-top: 30px;
}*/

.verify-acc-title {
  font-size: 24px;
  padding: 15px;
  color: #333;
}

.card-title-main  {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  color: #556A9A;
}

.mb-3 {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.change-password-card {
  width: 50%;
  margin: auto;
  margin-top: 60px;
  text-align: center;
  background-color: #D3DEF8;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.title {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
  color: #B7936B;
}

.btn-primary {
  width: 50%;
  background-color: #556A9A;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #F3CFC6;
  color: black;
}

.invalid-token {
  margin: 20px 0px;
  font-size: 18px;
  color: #FF5733;
  text-align: center;
}
