<app-header></app-header>
<div class="profile-container">
  <div class="profile-header">
    <h1 class="profile">Profile info</h1>
  </div>
  <div class="profile-info">
    <p class="info"><b>First Name:</b> {{user.firstName}}</p>
    <p class="info"><b>Last Name:</b> {{user.lastName}}</p>
    <p class="info"><b>Username:</b> {{user.username}}</p>
    <p class="info"><b>Age:</b> {{user.age}}</p>
    <p class="info"><b>Residence:</b> {{user.residence}}</p>
    <p class="info"><b>Email:</b> {{user.email}}</p>
  </div>
  <div class="profile-options">
    <button class="btn btn-danger" (click)="updatePassword()">Change Password</button>
  </div>
  <br>
  <div class="profile-info">
    <form [formGroup]="usernameForm">
      <p for="newUsername" class="info"><b>New Username:</b></p>
      <input type="text" id="newUsername" formControlName="newUsername" />
      <div class="color" *ngIf="usernameForm.get('newUsername')?.hasError('required')">
        Username is required.
      </div>
      <div class="color" *ngIf="usernameForm.get('newUsername')?.hasError('minlength')">
        Username must be at least 4 characters long.
      </div>
      <div class="color" *ngIf="usernameForm.get('newUsername')?.hasError('maxlength')">
        Username must not exceed 30 characters.
      </div>
      <div class="color" *ngIf="usernameForm.get('newUsername')?.hasError('pattern')">
        Special Characters are not allowed.
      </div>
      <br>
      <br>
      <button class="btn btn-danger" (click)="updateUsername()">Change Username</button>
    </form>
  </div>

</div>


