.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  background: linear-gradient(45deg, #D3DEF8, #9FBFDE);
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.profile-header {
  margin-bottom: 20px;
}

.profile {
  font-size: 36px;
  color: #556A9A;
}

.profile-info .info {
  font-size: 18px;
  margin: 10px 0;
  color: #556A9A;
}

.profile-options {
  margin-top: 30px;
}

.btn-danger {
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #556A9A;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-danger:hover {
  background-color: #F3CFC6;
  color: black;
}

