<app-header></app-header>
<div class="profile-container">
  <div class="profile-header">
    <h1 class="profile">Profile info</h1>
  </div>
  <div class="profile-info">
    <p class="info"><b>First Name:</b> Name</p>
    <p class="info"><b>Last Name:</b> LastName</p>
    <p class="info"><b>Username:</b> Username</p>
    <p class="info"><b>Email:</b> example@gmail.com</p>
  </div>
  <div class="profile-options">
    <button class="btn btn-danger" (click)="updatePassword()">Change Password</button>
  </div>
</div>


