<app-header></app-header>
<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
      <form [formGroup]="accommodationForm" (ngSubmit)="onSubmit()">
        <div class="formbold-mb-5">
          <label for="name" class="formbold-form-label"> Name </label>
          <input
            type="text"
            name="name"
            id="name"
            class="formbold-form-input"
            formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
            required
          />
          <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">Name is required.</div>
            <div *ngIf="f['name'].errors['minlength']">Name must be at least 3 characters long.</div>
            <div *ngIf="f['name'].errors['maxlength']">Name must not exceed 35 characters.</div>
            <div *ngIf="f['name'].errors['pattern']">Name can only contain letters, numbers, spaces, commas, quotes, and hyphens.</div>
          </div>
        </div>
        <div class="formbold-mb-5">
          <label for="description" class="formbold-form-label"> Description </label>
          <input
            type="text"
            name="description"
            id="description"
            class="formbold-form-input"
            formControlName="description"
            required
            [ngClass]="{ 'is-invalid': submitted && f['description'].errors}"
          />
          <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
            <div *ngIf="f['description'].errors['required']">Description is required.</div>
            <div *ngIf="f['description'].errors['minlength']">Description must be at least 3 characters long.</div>
            <div *ngIf="f['description'].errors['maxlength']">Description must not exceed 200 characters.</div>
            <div *ngIf="f['description'].errors['pattern']">Description can only contain letters, numbers, spaces, commas, quotes, and hyphens.</div>
          </div>
        </div>
        <div class="formbold-mb-5">
          <label for="images" class="formbold-form-label"> Image </label>
          <input
            type="text"
            name="images"
            id="images"
            class="formbold-form-input"
            formControlName="images"
            required
            [ngClass]="{ 'is-invalid': submitted && f['images'].errors }"
          />
          <div *ngIf="submitted && f['images'].errors" class="invalid-feedback">
            <div *ngIf="f['images'].errors['required']">Image is required.</div>
            <div *ngIf="f['images'].errors['pattern']">Image can only contain letters, numbers, spaces, commas, quotes, and hyphens.</div>
          </div>
        </div>
        <div class="formbold-mb-5">
            <label for="benefits" class="formbold-form-label"> Benefits </label>
            <input
              type="text"
              name="benefits"
              id="benefits"
              class="formbold-form-input"
              formControlName="benefits"
              required
              [ngClass]="{ 'is-invalid': submitted && f['benefits'].errors}"
            />
          <div *ngIf="submitted && f['benefits'].errors" class="invalid-feedback">
            <div *ngIf="f['benefits'].errors['required']">Benefits are required.</div>
            <div *ngIf="f['benefits'].errors['minlength']">Benefits must be at least 3 characters long.</div>
            <div *ngIf="f['benefits'].errors['maxlength']">Benefits must not exceed 100 characters.</div>
            <div *ngIf="f['benefits'].errors['pattern']">Benefits can only contain letters, numbers, spaces, commas, quotes, and hyphens.</div>
          </div>
        </div>

        <div class="flex flex-wrap formbold--mx-3">
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5 w-full">
              <label for="Minguest" class="formbold-form-label"> Min guest </label>
              <input
                type="number"
                name="Minguest"
                id="Minguest"
                class="formbold-form-input"
                formControlName="Minguest"
                required
                [ngClass]="{ 'is-invalid': submitted && f['Minguest'].errors}"
              />
              <div *ngIf="submitted && f['Minguest'].errors" class="invalid-feedback">
                <div *ngIf="f['Minguest'].errors['required']">Min guest is required.</div>
                <div *ngIf="f['Minguest'].errors['min']">Min guest is 1.</div>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5">
              <label for="Maxguest" class="formbold-form-label"> Max guest </label>
              <input
                type="number"
                name="Maxguest"
                id="Maxguest"
                class="formbold-form-input"
                formControlName="Maxguest"
                required
                [ngClass]="{ 'is-invalid': submitted && f['Maxguest'].errors}"
              />
              <div *ngIf="submitted && f['Maxguest'].errors" class="invalid-feedback">
                <div *ngIf="f['Maxguest'].errors['required']">Max guest is required.</div>
                <div *ngIf="f['Maxguest'].errors['min']">Max guest must be higher than min guest.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="formbold-mb-5 formbold-pt-3">
          <label class="formbold-form-label formbold-form-label-2">
            Address Details
          </label>
          <div class="flex flex-wrap formbold--mx-3">
            <div class="w-full sm:w-half formbold-px-3">
              <div class="formbold-mb-5">
                <input
                  type="text"
                  name="country"
                  id="country"
                  placeholder="Enter country"
                  class="formbold-form-input"
                  formControlName="country"
                  required
                  [ngClass]="{ 'is-invalid': submitted && f['country'].errors}"
                />
                <div *ngIf="submitted && f['country'].errors" class="invalid-feedback">
                  <div *ngIf="f['country'].errors['required']">Country is required.</div>
                  <div *ngIf="f['country'].errors['minlength']">Country must be at least 3 characters long.</div>
                  <div *ngIf="f['country'].errors['maxlength']">Country must not exceed 35 characters.</div>
                  <div *ngIf="f['country'].errors['upperLetter']">Country must start with upper letter.</div>
                  <div *ngIf="f['country'].errors['pattern']">Country can only contain letters, numbers, spaces, commas, quotes, and hyphens.</div>
                </div>
              </div>
            </div>
            <div class="w-full sm:w-half formbold-px-3">
              <div class="formbold-mb-5">
                <input
                  type="text"
                  name="city"
                  id="city"
                  placeholder="Enter city"
                  class="formbold-form-input"
                  formControlName="city"
                  required
                  [ngClass]="{ 'is-invalid': submitted && f['city'].errors}"
                />
                <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                  <div *ngIf="f['city'].errors['required']">City is required.</div>
                  <div *ngIf="f['city'].errors['minlength']">City must be at least 3 characters long.</div>
                  <div *ngIf="f['city'].errors['maxlength']">City must not exceed 35 characters.</div>
                  <div *ngIf="f['city'].errors['upperLetter']">City must start with upper letter.</div>
                  <div *ngIf="f['city'].errors['pattern']">City can only contain letters, numbers, spaces, commas, quotes, and hyphens.</div>
                </div>
              </div>
            </div>
            <div class="w-full sm:w-half formbold-px-3">
              <div class="formbold-mb-5">
                <input
                  type="text"
                  name="street"
                  id="street"
                  placeholder="Enter street"
                  class="formbold-form-input"
                  formControlName="street"
                  required
                  [ngClass]="{ 'is-invalid': submitted && f['street'].errors}"
                />
                <div *ngIf="submitted && f['street'].errors" class="invalid-feedback">
                  <div *ngIf="f['street'].errors['required']">Street is required.</div>
                  <div *ngIf="f['street'].errors['minlength']">Street must be at least 2 characters long.</div>
                  <div *ngIf="f['street'].errors['maxlength']">Street must not exceed 35 characters.</div>
                  <div *ngIf="f['street'].errors['upperLetter']">Street must start with upper letter.</div>
                  <div *ngIf="f['street'].errors['pattern']">Street can only contain letters, numbers, spaces, commas, quotes, and hyphens.</div>
                </div>
              </div>
            </div>
            <div class="w-full sm:w-half formbold-px-3">
              <div class="formbold-mb-5">
                <input
                  type="number"
                  name="number"
                  id="number"
                  placeholder="Enter number"
                  class="formbold-form-input"
                  formControlName="number"
                  required
                  [ngClass]="{ 'is-invalid': submitted && f['number'].errors}"
                />
                <div *ngIf="submitted && f['number'].errors" class="invalid-feedback">
                  <div *ngIf="f['number'].errors['required']">Number is required.</div>
                  <div *ngIf="f['number'].errors['min']">Number must be higher than 0.</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <button type="submit" class="formbold-btn">Create accommodation</button>
        </div>
      </form>
    </div>
</div>
