<div class="parent clearfix">
  <div class="bg-illustration">
    <img src="https://i.ibb.co/Pcg0Pk1/logo.png" alt="logo">

    <div class="burger-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="login">
    <div class="container">
      <h1>Login to access to<br />your account</h1>

      <div class="login-form">
        <form [formGroup]="formGroup">
          <label for="username"><b>Username:</b></label>
          <div>
            <input type="text" id="username" name="username" placeholder="Username" class="form-control" formControlName="username"
                   [ngClass]="{ 'is-invalid': submitted && loginGroup['username'].errors}">
            <div *ngIf="submitted && loginGroup['username'].errors" class="invalid-feedback">
              <div *ngIf="loginGroup['username'].errors['required']">Username is required.</div>
              <div *ngIf="loginGroup['username'].errors['minlength']">Username must be at least 3 characters long.</div>
              <div *ngIf="loginGroup['username'].errors['maxlength']">Username must not exceed 20 characters.
              </div>
            </div>
          </div>
          <label for="password"><b>Password:</b></label>
          <div>
            <input type="password" id="password" name="password" placeholder="********" maxlength="30" class="form-control" formControlName="password"
                   [ngClass]="{ 'is-invalid': submitted && loginGroup['password'].errors}">
            <div *ngIf="submitted && loginGroup['password'].errors" class="invalid-feedback">
              <div *ngIf="loginGroup['password'].errors['required']">Password is required.</div>
              <div *ngIf="loginGroup['password'].errors['minlength']">Password must be at least 3
                characters long.</div>
              <div *ngIf="loginGroup['password'].errors['maxlength']">Password must not exceed 20
                characters.</div>
            </div>
          </div>

          <div class="remember-form">
            <input type="checkbox">
            <span>Remember me</span>
          </div>
          <a routerLink="/Request-Recovery">Forgot password?</a>


          <button type="submit" (click)="onSubmit()" class="btn btn-primary" >Login</button>
          <div *ngIf="formGroup.errors?.['unauthenticated']" class="incorrect-credentials">
            Username or Password Incorrect!
          </div>
        </form>

        <form [formGroup]="aFormGroup" style="margin:15px 0">
          <ngx-recaptcha2 #captchaElem
                          [siteKey]="siteKey"
                          formControlName="recaptcha"
                          (success)="handleCaptchaResolved($event)">
          </ngx-recaptcha2>
        </form>

        <div>
          <a [routerLink]="['/Register']">Do not have an account? Create one here!</a>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
