.accommodation-details {
  width: 70%;
  border: 1px solid #F88379;
  border-radius: 8px;
  margin: 2% auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #FFF5EE;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accommodation-title {
  color: #F88379;
  font-size: 24px;
  margin-bottom: 10px;
}

.accommodation-description {
  color: #666;
  font-size: 18px;
  margin-bottom: 20px;
}

.detail {
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 400;
  background-color: #F88379;
  color: white;
  width: 50%;
  cursor: pointer;
}
.formbold-btn:hover {
  background-color: #F3CFC6;
  color: black;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  padding-left: 25vw;
}

.detail-label {
  font-weight: bold;
  color: #F88379;
  display: block;
  font-size: 16px;
}

.detail-value {
  color: #555;
  font-size: 16px;
  margin-top: 5px;
}

.detail.location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail.location .detail-label {
  margin-bottom: 5px;
}

.detail.benefits {
  text-align: center;
}

.detail.benefits ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.detail.benefits li {
  color: #555;
  font-size: 16px;
  margin-bottom: 5px;
}
.accommodation-card {
  width: 50%;
  border-radius: 8px;
  margin: 2% auto;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #FFF5EE;
  text-align: center;
}

.accommodation-title {
  color: #F88379;
}

.accommodation-description {
  color: #666;
  font-size: 16px;
}

.accommodation-details {
  margin-top: 10px;
}

.detail {
  margin-bottom: 8px;
}

.detail-label {
  font-weight: bold;
  color: #F88379;
}

.detail-value {
  color: #555;
}
.btn-danger {
  padding: 10px 10px;
  margin-top: 10px;
  font-size: 15px;
  color: #fff;
  background-color: #F88379;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-danger:hover {
  background-color: #F3CFC6;
  color: black;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  gap: 16px;
}

.form-label{
  color:#F88379;
  font-size: 15px;
  font-weight: bolder;
}

.accommodation-card.new-row {
  clear: both;
}

.accommodation-card {
  width: 20%;
  float: left;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.highlighted-host {
  background-color: yellow;
  border: 2px solid #ffcc00;
  border-radius: 10px;
  margin-bottom: 3px;
  padding-left: 6px;
}

.highlight-label {
  color: #ffcc00;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}



